{% extends "layouts/base.html" %}


{% block app_content %}

    <div class="container-fluid" >

        <div class="col-xs-3" style="background-color:aqua; min-height:80vh">
            context about grammars (couldn't get accordion to work here 😔)
        </div>
        <div class="col-xs-9" style="background-color: pink; min-height: 80vh">
            
            <div class="card text-center">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="true" href="#">Grammar Editor</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Graph View</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active">Split View</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            <img src="{{ url_for('static', filename='/assets/frog.jpg') }}" style="max-width: 100%;">
        </div>
    </div>



    <p>
        This is the home page
        <br />
        (the title comes from the base template)
    </p>
{% endblock %}